*.o
*.lo
*.la
*.pyc
*.*~
*.swp
*.mpg
*/save_GP
MLC/last.txt
MLC/uncontrolled_logs
*/error*.gfs
error*.gfs
results
results_init
log*.txt
*.bak
cylinder_060.000.*
cylinder_T*
cylinder_run.gfs
exec_from*
MLC/cylinder_control/python/user/
