config.*
libtool
src/gerris2D
src/gerris3D
**/*.deps
**/.deps
**/.libs
**/*.Plo
**/Makefile
doc/autoclass
doc/examples
doc/tutorial
modules/**
!modules/**/
!modules/**/*.h
!modules/**/*.c
tools/**
!tools/**/
!tools/**/*.h
!tools/**/*.c
