**/**.deps
**/.libs
**/*.Plo
**/Makefile
modules/**
doc/autoclass
doc/examples
doc/tutorial
tools/gfsplot
tools/gfs2oogl2D
tools/gfs2oogl3D
tools/gfscombine2D
tools/gfscombine3D
tools/gfscompare2D
tools/gfscompare3D
tools/gfsjoin2D
tools/gfsjoin3D
tools/ppmcombine
tools/streamanime
tools/shapes

